body {
  padding: 40px 50px 50px 50px;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

li {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

a {
  display: block;
  text-align: center;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
  -webkit-transform: scale(1.03);
}

a:active {
  -webkit-transform: scale(0.97);
}

li a span {
  display: block;
  margin-top: 5px;
}

p {
  text-align: center;
  margin-bottom: 20px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 200;
}

p span {
  margin: 0 20px;
  cursor: pointer;
}

p span:hover {
  color: #999;
}

p span.active {
  color: #000;
  cursor: default;
}

@media only screen and (min-width: 500px) {
  li {
    width: 50%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    padding: 40px 60px 60px 60px;
  }
  li {
    width: 33.33333333%;
  }
}

@media only screen and (min-width: 800px) {
  body {
    padding: 40px 70px 70px 70px;
  }
  li {
    width: 33.33333333%;
  }
  p {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    padding: 45px 80px 80px 80px;
  }
  li {
    width: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 50px 100px 100px 100px;
  }
  li {
    width: 20%;
  }
  p {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1400px) {
  li {
    width: 16.66666666%;
  }
}

@media only screen and (min-width: 1600px) {
  li {
    width: 14.28571429%;
  }
}
